In [127]:
# TEST CONNECTION AND IMPORT LIBRARY

import pyodbc

server = 'localhost'
database = 'DAMENG'
username = 'SYSDBA'
password = 'SYSDBA001'
driver = '{DM8 ODBC DRIVER}'
connection_string = f"DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}"
conn = pyodbc.connect(connection_string)
cursor = conn.cursor()

cursor.execute('select username from dba_users')

results = cursor.fetchall()
for row in results:
    print(row)
cursor.execute('alter database mount')
cursor.execute('alter database open')
conn.close()

('SYSAUDITOR',)
('TEST',)
('SYSSSO',)
('SYSDBA',)
('SYS',)

In [65]:
# CREATE TABLESPACES AND USERS

server = 'localhost'
database = 'DAMENG'
username = 'SYSDBA'
password = 'SYSDBA001'
driver = '{DM8 ODBC DRIVER}'
connection_string = f"DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}"
conn = pyodbc.connect(connection_string)
cursor = conn.cursor()

name = 'test'
password = 'Owkl.9130'

cursor.execute(f"create tablespace {name} datafile '{name}.dbf' size 256 autoextend on maxsize 10240")
cursor.execute(f'create user {name} identified by "{password}" default tablespace {name} default index tablespace {name}')
cursor.execute(f'grant "RESOURCE", "PUBLIC", "DBA", "VTI" to {name}')

cursor.execute('alter database mount')
cursor.execute('alter database open')
conn.close()

Error: ('HY000', '[HY000] Error in line: 1\ntablespace [TEST] is already exist (-3401) (SQLExecDirectW)')

In [140]:
# LIST TABLES

server = 'localhost'
database = 'DAMENG'
username = 'SYSDBA'
password = 'SYSDBA001'
driver = '{DM8 ODBC DRIVER}'
connection_string = f"DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}"
conn = pyodbc.connect(connection_string)
cursor = conn.cursor()

user = 'TEST'
cursor.execute(f'select NAME from sysobjects where "SUBTYPE$"=\'UTAB\' AND SCHID=(SELECT ID FROM sysobjects WHERE NAME=\'{user}\' AND TYPE$=\'SCH\')')

try:
    results = cursor.fetchall()
    if len(results) == 0:
        print('Empty table')
    for row in results:
        print(row)
except Exception as e:
    print(e)
cursor.execute('alter database mount')
cursor.execute('alter database open')
conn.close()

('集装箱动态',)
('客户信息',)
('物流公司',)
('物流信息',)
('卸货表',)
('装货表',)

In [141]:
# SQL QUERIES

server = 'localhost'
database = 'DAMENG'
username = 'test'
password = 'Owkl.9130'
driver = '{DM8 ODBC DRIVER}'
connection_string = f"DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}"
conn = pyodbc.connect(connection_string)
cursor = conn.cursor()

# cursor.execute('create table 装货表 (船公司 varchar(100), 船名称 varchar(100), 作业开始时间 varchar(100), 作业结束时间 varchar(100), 始发时间 varchar(100), 到达时间 varchar(100), 作业港口 varchar(100), 提单号 varchar(100), 集装箱箱号 varchar(100), 箱尺寸TEU varchar(100), 启运地 varchar(100), 目的地 varchar(100))')
# for a, b, c, d, e, f, g, h, i, j, k, l in table0:
#     cursor.execute(f"insert into 装货表 values ('{a}', '{b}', '{c}', '{d}', '{e}', '{f}', '{g}', '{h}', '{i}', '{j}', '{k}', '{l}')")
# cursor.execute('select * from 装货表')

# cursor.execute('create table 卸货表 (船公司 varchar(100), 船名称 varchar(100), 作业开始时间 varchar(100), 作业结束时间 varchar(100), 始发时间 varchar(100), 到达时间 varchar(100), 作业港口 varchar(100), 提单号 varchar(100), 集装箱箱号 varchar(100), 箱尺寸TEU varchar(100), 启运地 varchar(100), 目的地 varchar(100))')
# for a, b, c, d, e, f, g, h, i, j, k, l in table1:
#     cursor.execute(f"insert into 卸货表 values ('{a}', '{b}', '{c}', '{d}', '{e}', '{f}', '{g}', '{h}', '{i}', '{j}', '{k}', '{l}')")
# cursor.execute('select * from 卸货表')

# cursor.execute('create table 物流信息 (提单号 varchar(100), 货主名称 varchar(100), 货主代码 varchar(100), 物流公司_货代 varchar(100), 集装箱箱号 varchar(100), 货物名称 varchar(100), 货重_吨 varchar(100))')
# for a, b, c, d, e, f, g in table2:
#     cursor.execute(f"insert into 物流信息 values ('{a}', '{b}', '{c}', '{d}', '{e}', '{f}', '{g}')")
# cursor.execute('select * from 物流信息')

# cursor.execute('create table 集装箱动态 (堆存港口 varchar(100), 集装箱箱号 varchar(100), 箱尺寸_TEU varchar(100), 提单号 varchar(100), 堆场位置 varchar(100), 操作 varchar(100), 操作日期 varchar(100))')
# for a, b, c, d, e, f, g in table3:
#     cursor.execute(f"insert into 集装箱动态 values ('{a}', '{b}', '{c}', '{d}', '{e}', '{f}', '{g}')")
# cursor.execute('select * from 集装箱动态')

# cursor.execute('create table 客户信息 (客户名称 varchar(100), 客户编号 varchar(100), 手机号 varchar(100), 省市区 varchar(100))')
# for a, b, c, d in table4:
#     cursor.execute(f"insert into 客户信息 values ('{a}', '{b}', '{c}', '{d}')")
# cursor.execute('select * from 客户信息')

# cursor.execute('create table 物流公司 (公司名称 varchar(100), 客户编号 varchar(100), 联系人 varchar(100), 电话 varchar(100), 省市区 varchar(100))')
# for a, b, c, d, e in table5:
#     cursor.execute(f"insert into 物流公司 values ('{a}', '{b}', '{c}', '{d}', '{e}')")
# cursor.execute('select * from 物流公司')

# cursor.execute('drop table 集装箱动态')
# cursor.execute('drop table 物流信息')
# cursor.execute('drop table 卸货表')
# cursor.execute('drop table 客户信息')

cursor.execute('select * from 客户信息')

try:
    results = cursor.fetchall()
    if len(results) == 0:
        print('Empty table')
    for row in results:
        print(row)
except Exception as e:
    print(e)
cursor.execute('alter database mount')
cursor.execute('alter database open')
conn.close()

('区克', '511824199602123275', '14790823638', '江苏省宿迁市')
('徐飞超', '650107200110150139', '17641114476', '山东省临沂市')
('匡育南', '630123198812159054', '16164196045', '河北省秦皇岛市')
('江厚', '450127198710169552', '19407134345', '青海省西宁市')
('余创兆', '510900198501281070', '15972814409', '青海省海南藏族自治州')

In [51]:
import pandas as pd

In [130]:
df = pd.read_excel('../data/dataset.xlsx', sheet_name='装货表')
columns0 = df.columns
table0 = []
for i in range(len(df)):
    table0.append(list(map(str, df.iloc[i].tolist())))

df = pd.read_excel('../data/dataset.xlsx', sheet_name='卸货表')
columns1 = df.columns
table1 = []
for i in range(len(df)):
    table1.append(list(map(str, df.iloc[i].tolist())))

df = pd.read_excel('../data/dataset.xlsx', sheet_name='物流信息')
columns2 = df.columns
table2 = []
for i in range(len(df)):
    table2.append(list(map(str, df.iloc[i].tolist())))

df = pd.read_excel('../data/dataset.xlsx', sheet_name='集装箱动态')
columns3 = df.columns
table3 = []
for i in range(len(df)):
    table3.append(list(map(str, df.iloc[i].tolist())))

df = pd.read_excel('../data/dataset.xlsx', sheet_name='客户信息')
columns4 = df.columns
table4 = []
for i in range(len(df)):
    table4.append(list(map(str, df.iloc[i].tolist())))

df = pd.read_excel('../data/dataset.xlsx', sheet_name='物流公司')
columns5 = df.columns
table5 = []
for i in range(len(df)):
    table5.append(list(map(str, df.iloc[i].tolist())))

print(columns0, columns1, columns2, columns3, columns4, columns5)

Index(['船公司\t', '船名称', '作业开始时间', '作业结束时间', '始发时间', '到达时间', '作业港口', '提单号',
       '集装箱箱号', '箱尺寸（TEU）', '启运地', '目的地'],
      dtype='object') Index(['船公司\t', '船名称', '作业开始时间', '作业结束时间', '始发时间', '到达时间', '作业港口', '提单号',
       '集装箱箱号', '箱尺寸（TEU）', '启运地', '目的地'],
      dtype='object') Index(['提单号\t', '货主名称', '货主代码', '物流公司（货代）', '集装箱箱号', '货物名称', '货重（吨）'], dtype='object') Index(['堆存港口', '集装箱箱号', '箱尺寸（TEU）', '提单号', '堆场位置', '操作', '操作日期'], dtype='object') Index(['客户名称', '客户编号', '手机号', '省市区'], dtype='object') Index(['公司名称', '客户编号', '联系人', '电话', '省市区'], dtype='object')